.container {
  width: 750px;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin: 0;
}

.categoryBox {
  min-width: 90px;
  max-width: 90px;
  max-height: 70px;
  min-height: 70px;
  padding-top: 10px;
  background-color: #f2c07b;
  text-align: center;
  justify-content: center;
  border: 1px;
  border-radius: 0.3rem;
}
