.productsContainer {
  margin: -2rem 2rem 0rem 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 95%;
  min-height: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  row-gap: 40px;
}
.container {
  max-height: 60%;
  min-height:60%;
  width: 100%;
}
.productImage {
  max-width: 120px;
  min-width: 120px;
  max-height: 100px;
  min-height: 100px;
  cursor: pointer;
  object-fit: contain;
}
.frame {
  box-sizing: border-box;
  width: 120px;
  max-height: 130px;
  min-height: 130px;
  padding-top: 10px;
  background-color: #c3dde4;
  text-align: center;
  justify-content: center;
  border: 1px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.imgBackground {
  background-color: white;
  max-height: 100px;
  min-height: 100px;
}
