.header {
  width: 100%;
  padding-left: 5rem;
  padding-top: 4rem;
  height: 8rem;
  background-color: #e5eaed;
  box-sizing: border-box;
}
.subHeader {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem 2rem 0rem 6rem;
  text-align: center;
  background-color: #bab8bb;
  height: 4rem;
}

.modal {
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
  padding: 25px;
  border: 1px solid #888;
  border-radius: 0.5rem;
  margin: 5% 0% 25% 35%;
  background-color: #e5eaed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  height: auto;
}
