.addButton {
  display: block;
  box-sizing: border-box;
  background-color: #41af4b;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  padding: 5px 15px;
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  width: auto;
}

.addButton:hover {
  background-color: #1e8449;
  opacity: 1;
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
