.searchInput {
  background: #fff;
  height: 50px;
  width: 327px;
  color: #3b4953;
  border: 1px solid #cccccc;
  border-radius: 4px 0px 0px 4px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 0px 0px 57px;
  font-size: 16px;
  background: #ffffff url("http://seodesigns.com/projects/TD/images/search.png")
    18px 15px no-repeat;
  background-size: 18px 18px;
  margin-top: -1rem;
}

.searchDiv {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 2rem 2rem 0rem 16rem;
  height: 4rem;
}
