body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}
table th,
table td {
  border: 1px solid #ddd;
  width: auto;
  padding: 8px;
}

td,
td > input {
  max-width: 60px;
  min-width: 60px;
  max-height: 50px;
  min-height: 50px;
}

.productImage {
  width: 60px;
  height: 50px;
  object-fit: contain;
}

.productsContainer {
  width: 50%;
  height: 50%;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 500;
  left: 10%;
}
.categoriesContainer {
  width: 50%;
  max-width: 50%;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  left: 10%;
}
.categoryBox {
  width: 80px;
  height: 60px;
  background-color: aquamarine;
}

.posProduct {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

.modal {
  font-weight: bold;
  position: relative;
  background-color: #000000;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: -10%;
  padding: 25px;
  border: 1px solid #888;
  border-radius: 0.5rem;
  width: 100%;
  z-index: 99999;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  min-height: 500px;
  padding: 15px;
  border-radius: 30px;
  background: #ffffff;
  font-weight: bold;
  position: relative;
  padding: 25px;
  border: 1px solid #888;
  border-radius: 0.5rem;
  width: 100%;
  height: 70%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dots:hover {
  background-color: transparent;
  cursor: default;
}

.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
