body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(5, 12, 41);
  gap: 5rem;
  padding: 8px 16px;
  z-index: 1;
  top: 0%;
  left: 0%;
}

.pagesLink {
  width: 1.5%;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding: 8px 12px;
  justify-content: center;
  background-color: rgb(5, 12, 41);
  flex-direction: column;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 1;
}
